<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756554441378-9ojdai65qru95g4jm2pbcime9804orbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756554441378-9ojdai65qru95g4jm2pbcime9804orbo</string>
	<key>API_KEY</key>
	<string>AIzaSyC_iXKFQzp-LCSNo2XauuBDWK7lRSbdXBo</string>
	<key>GCM_SENDER_ID</key>
	<string>756554441378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.austintechnologies.clink</string>
	<key>PROJECT_ID</key>
	<string>clink-600aa</string>
	<key>STORAGE_BUCKET</key>
	<string>clink-600aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756554441378:ios:ae02af7596079a623c2dfb</string>
</dict>
</plist>